tsrc
*.c
*.h
*.o
*.out
*.sql
*.y
*.a
*.dylib
Makefile
*.dSYM

# Generated and build artifacts
.main.mk.checks
.target_source
config.log
jimsh
lemon
mkkeywordhash
mksourceid
sqlite3
sqlite3.pc
src-verify
.tclenv.sh
testdir/
has_tclsh85
pkgIndex.tcl
testfixture
tclsqlite3
.DS_Store